<h2><%= t("leaderboards.titles.top") %></h2>
<table class="table table_striped">
  <thead>
    <tr>
      <td><%= t("leaderboards.table_headers.rank") %></td>
      <td><%= t("leaderboards.table_headers.name") %></td>
      <td><%= t("leaderboards.table_headers.user_group") %></td>
      <td><%= t("leaderboards.table_headers.score") %></td>
    </tr>
  </thead>
  <% scores.each do |score| %>
    <tr>
      <td>#<%= score[:rank] %>
      <td><%= User.find(score[:member]).name %></td>
      <td><%= User.find(score[:member]).user_group.name %></td>
      <td><%= score[:score] %></td>
    </tr>
  <% end %>
</table>
