<h2><%= t("leaderboards.titles.top") %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <td><%= t("leaderboards.table_headers.rank") %></td>
      <td><%= t("leaderboards.table_headers.name") %></td>
      <td><%= t("leaderboards.table_headers.user_group") %></td>
      <td><%= t("leaderboards.table_headers.score") %></td>
    </tr>
  </thead>
  <% scores.each do |score| %>
    <% user = User.find(score[:member]) %>
    <tr>
      <td>#<%= score[:rank] %>
      <td> <%= link_to user_statistics_path(user) do %><%= user.name %><% end %></td>
      <td><%= user.user_group.name %></td>
      <td><%= score[:score] %></td>
    </tr>
  <% end %>
</table>
