<ul class="nav navbar-nav navbar-right">
  <li><%= link_to new_user_session_path, id:"menu_login" do %><%= t("menu.login")%><% end %></li>
  <li><%= link_to "#{ENV['HIPCHAT_ROOM']}?name=#{current_user.name}" do %><%= t("menu.help") %> <%= image_tag("hipchat.png", title: "Help!", height: "20px") %><% end %></li>
</ul>
