<% if !devise_error_messages!.empty? %><div id="error" class="dialog"><div class="container"><%= devise_error_messages! %></div></div><% end %>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1"></div>
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 form-wrapper">
  <h2>My information</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email", required:true, value: resource.email %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", placeholder: "Username", required:true, value: resource.username %>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.password_field :name, class: "form-control", placeholder: "First and last name", required:true, value: resource.name %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: "form-control", required:true %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <div><%= f.submit "Update", class: "btn-submit btn btn-primary btn-block btn-lg" %></div>
      </div>

    <% end %>
    <div class="form-group">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { :confirm => "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
