<%= form_for(Answer.new) do |f| %>
  <%= f.hidden_field :problem_id, value: problem.id %>
  <%= f.hidden_field :user_challenge_id, value: @user_challenge.id if @user_challenge %>
  <div class="form-group">
    <div class="input-group answer-field">
      <%= f.text_area :value, class:"form-control", rows:"1", required: true, type: "number" %>
      <% if problem.unit %>
        <span id="selectedUnit" class="input-group-addon dropdown-toggle" data-toggle="dropdown"></span>
        <ul class="dropdown-menu pull-right">
          <% problem.unit.unit_group.units.each do |unit| %>
            <li><a class="unit_select" data-selected="<%= "true" if unit == problem.unit %>" data-sign="<%= unit.sign %>"><%= unit.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <span class="input-group-addon"></span>
      <% end %>
    </div>
  </div>
<% end %>
