<div class="problem_block">
  <div class="row">
    <div class="one-column-center">
    </div>
  </div>
  <div class="row">
    <div class="two-column-fill theory">
      <p id="theory"><%= problem.theory %>?</p>
    </div>
    <div class="two-column-fill input">
      <%= form_for(Answer.new) do |f| %>
        <% if @challenge %>
          <%= f.hidden_field :user_challenge_id, value: UserChallenge.where(challenge_id: session[:challenge], user: current_user).last.id %>
        <% end %>
        <%= f.hidden_field :problem_id, value: problem.id %>
        <div class="form-group">
          <div class="input-group answer-field">
            <%= f.text_area :value, class:"form-control", rows:"1", required: true %>
            <% if problem.unit %>
              <span id="selectedUnit" class="input-group-addon dropdown-toggle" data-toggle="dropdown"></span>
              <ul class="dropdown-menu pull-right">
                <% problem.unit.unit_group.units.each do |unit| %>
                  <li><a class="unit_select" data-sign="<%= unit.sign %>"><%= unit.name %></a></li>
                <% end %>
              </ul>
            <% else %>
              <span class="input-group-addon"> ▼ </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row submit_block">
  <div class="row">
    <div class="two-column-fill ">
      <p class="help">
        <%= problem.get_result.round(2) %>
      </p>
    </div>
    <div class="two-column-fill">
      <div class="form-group submit_form">
        <div>
        <button id="submit_answer" class="btn btn-submit btn-embossed btn-practice"><%= t("practice.submit_button") %></button>
        <a href="#" id="helpQuestion"><button class="btn btn-warning btn-embossed"><%= t("practice.helpquestion") %></button></a>
        <br>
        <a href="#" id="skipQuestion">(<%= t("practice.skipquestion") %>)</a>
      </div>
      </div>
    </div>
  </div>
  <div class="inside-row">
    <%= render 'sessions/progressbar', user_challenge: @user_challenge, progress: @progress if @user_challenge %>
  </div>
</div>

