<div class="row">
  <%= render 'sessions/scores' %>
  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 answers">
    <h1><%= t("practice.header") %></h1>

    <div class="row" >
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <p id="theory"><%= @problem.theory %>?</p>
        <p class="help"><%= @problem.get_result.round(2) %></p>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <%= form_for(Answer.new) do |f| %>
        <%= f.hidden_field :problem_id, value: @problem.id %>
        <div class="form-group">
          <div class="input-group answer-field">
            <span class="input-group-addon dropdown-toggle" data-toggle="dropdown"><%= t("unit") %></span>
            <%= f.text_area :value, class:"form-control", rows:"1", required: true %>
            <span class="input-group-addon" id="selectedUnit"></span>
            <ul class="dropdown-menu">
              <% @problem.unit.unit_group.units.each do |unit| %>
                <li><a class="unit_select" data-sign="<%= unit.sign %>"><%= unit.name %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit t("practice.submit_button"), class:"btn btn-success btn-embossed btn-practice" %>
          <% end %>
          <button id="skipQuestion" class="btn btn-danger btn-embossed btn-practice"><%= t("practice.skipquestion") %></button>
          <button id="helpQuestion" class="btn btn-warning btn-embossed btn-practice"><%= t("practice.helpquestion") %></button>
        </div>
      </div>
    </div>
    <%= render 'calculator/calculator' %>
  </div>
</div>
