<div class="row">
  <div class="three-column-small">
    <%= render 'calculator/calculator' %>
    <div class="block">
      <%= render 'answer_feedback/current_problem', problem: @problem %>
    </div>
    <div class="block">
      <%= render 'problem_picker' %>
    </div>
  </div>
  <div class="three-column-big answers">
    <div id="problems block" class="">
      <%= render 'problem', problem: @problem %>
    </div>
  </div>
    <div class="three-column-small">
      <div class="block">
        <%= render 'sessions/scores' %>
      </div>
      <div class="block">
        <%= render 'answer_feedback/answer_feedback', feedback: Answer.where(user:current_user).last.feedback %>
      </div>
  </div>
  <div class="three-column-small">
  </div>
</div>

