<div class="row">
  <div class="two-column-fill ">

  </div>
  <div class="two-column-fill" >

  </div>
</div>

<div class="row">
  <div class="two-column-fill">
    <div class="row">
      <div class="one-column-side"></div>
      <div class="one-column-center"><h1>Challenges</h1></div>
      <div class="one-column-side"></div>
    </div>
    <div id="challenges_block" class="row grey_block">
      <% @challenges.each do |challenge| %>
        <div class="col-sm-6 col-md-3 col-lg-3 thumbnail-col">
          <div class="thumbnail">
            <a
              href="<%= challenge_path(challenge.name) %>"
              class="thumb-link"
              data-toggle="popover"
              data-container="body"
              data-placement="top"
              data-original-title="<%= challenge.name %>"
              title
              data-content='<%=challenge_table(challenge,current_user)%>'
            >
              <div class="image" style="background-image:url(<%= challenge.icon %>)"></div>
              <div class="caption">
                <div class="inner">
                  <h2><%= challenge.name %></h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="two-column-fill" >
    <div class="row">
      <div class="one-column-side"></div>
      <div class="one-column-center"><h1>Badges</h1></div>
      <div class="one-column-side"></div>
    </div>
    <div id="badges_block" class="row grey_block">
      <% @badges.each do |badge| %>
        <div class="col-sm-6 col-md-3 col-lg-3 thumbnail-col">
          <div class="thumbnail">
            <a href="#" class="thumb-link">
              <div class="image" style="backround-image:url(<%= badge.image %>)"></div>
              <div class="caption">
                <div class="inner">
                  <h2><%= t("badges.#{badge.name}.name") %></h2>
                  <div class="more">
                    <p class="description"><%= t("badges.#{badge.name}.description") %></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div
