<div class="gamercard" style="
  border-bottom: 1px solid <%= user.username.pastel_color %>;
">
  <div class="left_card">
    <div class="gamercard_profile_image img">
      <img src="<%= user.profilepicture_url %>" width="98px" height="99px">
    </div>
    <div class="badges_row">
      <% user.badges.last(3).each do |badge| %>
       <a
          href="<%= user_statistics_path(user) %>"
          class="thumb-link"
          data-toggle="popover"
          data-container="body"
          data-original-title="<%= t("badges.#{badge.name}.name") %>"
          title
          data-content='<%=badge_popover(badge)%>'
        >
          <%= image_tag(badge.image) %>
        </a>
      <% end %>
    </div>
  </div>
  <div class="right_card">
    <div class="top">
      <div class="name">
        <span class="level_name">
          <%= t("levels.level_#{user.level}") %>
          <% if current_user != user %><span class="toggle_invite" data-user-id="<%= user.id %>"><img height="20" src="/assets/challenge.png" ></span><% end %>
        </span><br>
        <%= link_to user_statistics_path(user) do %><span><%= user.username %></span><% end %>

      </div>
      <div class="level" title="Level" style="border: 5px solid <%= user.username.pastel_color %>"><span ><%= user.level %></span></div>
    </div>
    <div>
      <p>
        <%= t("gamercard.points", count: user.points) %>
        <%= t("gamercard.challenges", count: user.challenges_completed_successfully) %>
        <%= t("gamercard.badges", count: user.badges.count) %>
      </p>
      <p style="text-align:right; margin-bottom:20px;">

      </p>
    </div>
  </div>
</div>

