<div id="gamercard">
  <div class="left_card">
    <div id="gamercard_profile_image" class="img">
      <img src="<%= user.profilepicture_url %>" width="98px" height="99px">
    </div>
    <div class="badges_row">
      <% user.badges.last(3).each do |badge| %>
       <a
          href="<%= user_statistics_path(user) %>"
          class="thumb-link"
          data-toggle="popover"
          data-container="body"
          data-original-title="<%= t("badges.#{badge.name}.name") %>"
          title
          data-content='<%=badge_popover(badge)%>'
        >
          <%= image_tag(badge.image) %>
        </a>
      <% end %>
    </div>
  </div>
  <div class="right_card">
    <div class="top">
      <div class="name">
        <span class="level_name"><%= t("levels.level_#{user.level}") %></span><br>
        <span><%= user.name %></span>

      </div>
      <div class="level" title="Level"><span ><%= user.level %></span></div>
    </div>
    <div>
      <p><%= t("gamercard.text",
                points: RedisLeaderboard.get.score_for(user.id).to_i,
                challenges: user.challenges_completed_successfully,
                badges: user.badges.count) %>
    </div>
  </div>
</div>
