<% if !devise_error_messages!.empty? %>
  <div class="dialog notice_block">
    <%= devise_error_messages! %>
  </div>
<% end %>
<div class="row">
  <div class="three-column-equal-side"></div>
  <div class="three-column-equal-main form-wrapper">
    <h2><%= t("devise.passwords.edit_title") %></h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, class:"form-control" %>
      </div>

      <div><%= f.submit t("devise.passwords.submit_button"), class:"btn btn-primary btn-submit" %></div>
  <% end %>

<%= render "devise/shared/links" %>

