<% if !devise_error_messages!.empty? %><div id="error" class="dialog"><div class="container"><%= devise_error_messages! %></div></div><% end %>
<div class="row">
  <div class="three-column-equal-side"></div>
  <div class="three-column-equal-main form-wrapper">
  <h2><%= t("devise.passwords.new_title") %></h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit t("devise.passwords.submit_button"), class:"btn btn-primary btn-submit" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
