<div class="row">
  <div class="three-column-small">
    <% if !current_user.guest? %>
      <%= render 'user_left_sidebar' %>
    <% end %>
  </div>
  <div class="three-column-big block center">
    <h1><%= personalized_welcome(current_user)%></h1>
    <div class="row">
      <%= render "#{current_user.class.name.downcase}_center" %>
    </div>
    <div class="row center">
      <div id="call_to_action_buttons one-column-fill">
        <%= call_to_action_buttons(current_user) %>
      </div>
    </div>
  </div>
  <div class="three-column-small">
    <% if !current_user.guest? %>
      <%= render 'user_right_sidebar' %>
    <% end %>
  </div>
</div>
