<div class="row">
  <div class="three-column-small"></div>
  <div class="three-column-big">
    <div class="info-text">
    <h3><%= personalized_welcome(current_user)%></h3>
    <h4><%= t("home.tag_line") %></h4>
    <p><%= personalized_text(current_user) %></p>
      <div class="row">
        <div id="call_to_action_buttons">
          <% if !current_user %>
            <%= link_to new_user_registration_path do %><button class="btn btn-landing"><%= t("menu.sign_up") %></button><% end %>

            <%= link_to new_user_session_path do %><button class="btn btn-secondary"><%= t("menu.login") %></button><% end %>
          <% else %>
            <%= link_to challenges_path do %><button class="btn btn-landing"><%= t("menu.challenges") %></button><% end %>
            <%= link_to practice_path do %><button class="btn btn-secondary"><%= t("menu.practice") %></button><% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="three-column-small"></div>
  <div class="three-column-big">
    <hr>
      <% if current_user %>
        <%= render 'activities/index' %>
      <% end %>
  </div>
</div>
