<div class="row">
  <div class="three-column-small"></div>
  <div class="three-column-big">
    <div class="info-text">
    <h1><%= personalized_welcome(current_user)%></h1>
    <h4><%= t("home.tag_line") %></h4>
    <p><%= personalized_text(current_user) %></p>
      <div class="row">
        <div class="three-column-small"></div>
        <div class="three-column-big">
          <% if !current_user %>
            <%= link_to new_user_registration_path do %><button class="btn btn-landing">Sign up</button><% end %>
            <%= link_to new_user_session_path do %><button class="btn btn-landing">Sign in</button><% end %>
          <% else %>
            <%= link_to challenges_path do %><button class="btn btn-landing">Challenges</button><% end %>
            <%= link_to practice_path do %><button class="btn btn-landing">Practice</button><% end %>
          <% end %>
        </div>
        <div class="three-column-small"></div>
      </div>
    </div>
  </div>
  <div class="three-column-small">
    <% if current_user %>
      <%= render 'activities/index' %>
    <% end %>
  </div>
</div>
