<% if !devise_error_messages!.empty? %>
  <div class="dialog notice_block">
    <%= devise_error_messages! %>
  </div>
<% end %>
<div class="row">
  <div class="three-column-equal-side"></div>
  <div class="three-column-equal-main form-wrapper">
    <h2><%= t("devise.sessions.new_title") %></h2>
    <div class="grey_block">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control flat", placeholder: t("placeholders.email") %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control flat" %>
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me, t("labels.remember") %></div>
        <% end -%>
      </div>
      <div class="form-group">
        <div><%= f.submit "Sign in", id: "sign_in", class: "btn-submit btn btn-primary btn-block btn-lg" %></div>
      </div>
      <% end %>
      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
