<% if !devise_error_messages!.empty? %><div id="error" class="dialog"><div class="container"><%= devise_error_messages! %></div></div><% end %>
<div class="row">
  <div class="three-column-equal-side"></div>
  <div class="three-column-equal-main form-wrapper">
    <h2><%= t("devise.sessions.new_title") %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: "form-control flat", placeholder: t("placeholders.email") %>
      <span class="input-icon fui-user"></span>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: "form-control flat" %>
      <span class="input-icon fui-lock"></span>
    <div class="form-group">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, t("labels.remember") %></div>
      <% end -%>
    </div>
    <div class="form-group">
      <div><%= f.submit "Sign in", id: "sign_in", class: "btn-submit btn btn-primary btn-block btn-lg" %></div>
    </div>
    <% end %>
    <div class="form-group">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
