
<div class="thumbnail">
  <a
    href="<%= challenge_path(challenge.name) %>"
    class="thumb-link"
    data-toggle="popover"
    data-container="body"
    data-original-title="<%= t("challenges.#{challenge.name}") %>"
    title
    data-content='<%=challenge_stat_table(challenge,user)%>'
  >
    <div class="image" style="background-image:url(<%= challenge.icon %>)"></div>
    <div class="caption">
      <div class="inner">
        <h2><%= t("challenges.#{challenge.name}") %></h2>
        <% if challenge.user_challenges.where(user:current_user, success: true).length > 0 %>
          <div class="more">
            <p class="description"><%= t("challenges.labels.completed_successfully") %></p>
          </div>
        <% end %>
      </div>
    </div>
</a>
</div>


