<div class="row image_background">
  <div class="three-column-small">
      <%= render 'sessions/health' %>
  </div>
  <div class="three-column-big answers">
    <%= render 'problems/problem', problem: @problem %>
  </div>
  <div class="three-column-small">
    <div class="score_block">
      <%= render 'sessions/scores' %>
    </div>
    <div class="feedback_block">
      <%= render 'feedback/answer_feedback' %>
    </div>
    <div class="score_block">
      <% if @challenge.timelimit %>
        <%= render 'sessions/time' %>
      <% end %>
    </div>
  </div>
</div>

