<div class="row">
  <div class="three-column-small">
    <%= render 'sessions/scores' %>
  </div>
  <div class="three-column-big answers">
    <h1><%= @challenge.name %></h1>
    <%= render 'problems/problem', problem: @problem %>
  </div>
  <div class="three-column-small">
    <%= render 'sessions/health' %>
    <% if @challenge.timelimit %>
      <%= render 'sessions/time' %>
    <% end %>
  </div>
</div>
