<div id="feedback_report" class="feedback_report">
  <%= form_for(FeedbackReport.new) do |f| %>
    <h4><%= t("feedback_report.title") %></h4>
    <div class="form-group">
      <%= f.text_field :subject, class: "form-control", placeholder: t("feedback_report.placeholders.subject"), required: true %>
    </div>
    <div class="form-group">
      <%= f.text_area :text, class:"form-control", placeholder: t("feedback_report.placeholders.text"), rows:"10", required: true %>
    </div>
    <div class="form-group">
    <%= f.submit t("feedback_report.form.submit") %>
    </div>
  <% end %>
</div>
<div id="feedback_background" class="black_overlay"></div>
<div class="btn feedback-btn">
  <button id="toggle_feedback" class="btn btn-feedback">Feedback!</button>
</div>
